<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce class="about" padding>
  <h2 *ngIf="appName">{{appName}}</h2>
  <h6 *ngIf="appVersion">{{appVersion}}</h6>
  <p><em>Copyright &copy; 2016 John Woodruff</em></p>
  <p>Scripture Golf is a classic LDS Sunday School game. It is a game of scripture trivia.</p>
  <p>While every effort has been made to make this app bug-free, if you encounter any bugs or have any suggestions for future versions, please email <a href="mailto:woodruffapps@gmail.com">woodruffapps@gmail.com</a> and I will do my best to implement your ideas! This app will continue to be supported through adding more scriptures, making changes to the app to improve performance, and adding new features.</p>
  <button ion-button icon-left block margin-bottom (click)="reviewApp()">
    <ion-icon name="star"></ion-icon>
    Write a Review
  </button>
  <h5>Other Links</h5>
  <div class="margin-bottom-small">
    <a href="http://scripture-golf.com">Website</a>
  </div>
  <div class="margin-bottom-small">
    <a href="mailto:woodruffapps@gmail.com?subject=Support%20Needed">Support</a>
  </div>
  <div class="margin-bottom-small">
    <a href="http://scripture-golf.com/privacy-policy">Privacy Policy</a>
  </div>
</ion-content>
