<ion-content>
  <div padding>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <h3>{{currPlayer.name}}</h3>
          <h6>Round {{currRound}}</h6>
        </ion-col>
        <ion-col width-50>
          <div class="points-box">
            <div class="points-header">
              <h4>Points</h4>
            </div>
            <div class="points-footer">
              <h4>{{currPlayer.getScore()}}</h4>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngIf="showVerse">
      <ion-card-content>
        {{currScripture.verse}}
      </ion-card-content>
    </ion-card>
    <div *ngIf="!showVerse">
      <div *ngIf="guessingState==='BOOK'">
        <ion-list>
          <ion-list-header>
            Book of Scripture
          </ion-list-header>
          <ion-item>
            <ion-label>Book of Mormon</ion-label>
            <ion-select class="margin-none" [selectOptions]="selectOptions" placeholder="Choose One" [(ngModel)]="bookOfMormon" (ionChange)="selectionChanged('BOM')">
              <ion-option *ngFor="let book of books | book:'BOM'" value="{{book.title}}">{{book.title}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Doctrine & Covenants</ion-label>
            <ion-select class="margin-none" [selectOptions]="selectOptions" placeholder="Choose One" [(ngModel)]="doctrineAndCovenants" (ionChange)="selectionChanged('DC')">
              <ion-option *ngFor="let book of books | book:'DC'" value="{{book.title}}">{{book.title}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Pearl of Great Price</ion-label>
            <ion-select class="margin-none" [selectOptions]="selectOptions" placeholder="Choose One" [(ngModel)]="pearlOfGreatPrice" (ionChange)="selectionChanged('PGP')">
              <ion-option *ngFor="let book of books | book:'PGP'" value="{{book.title}}">{{book.title}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Old Testament</ion-label>
            <ion-select class="margin-none" [selectOptions]="selectOptions" placeholder="Choose One" [(ngModel)]="oldTestament" (ionChange)="selectionChanged('OT')">
              <ion-option *ngFor="let book of books | book:'OT'" value="{{book.title}}">{{book.title}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>New Testament</ion-label>
            <ion-select class="margin-none" [selectOptions]="selectOptions" placeholder="Choose One" [(ngModel)]="newTestament" (ionChange)="selectionChanged('NT')">
              <ion-option *ngFor="let book of books | book:'NT'" value="{{book.title}}">{{book.title}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <button ion-button color="primary" class="float-right margin-bottom" (click)="checkBook()">
          Check Answer
        </button>
        <div class="clear"></div>
      </div>
      <div *ngIf="guessingState==='CHAPTER'">
        <h5 class="chapter-header">Guess the Chapter</h5>
        <ion-grid>
          <ion-row>
            <ion-col width-50 offset-25>
              <!--TODO: CHANGE THIS TO TYPE NUMBER BEFORE PRODUCTION, CAN'T BE ANGULAR 2.1.1-->
              <input type="text" class="chapter-input" [(ngModel)]="chapterGuess" placeholder="Chapter">
            </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <p class="float-left chapters-guessed">Chapters Guessed:</p>
          <button ion-button color="primary" (click)="checkChapter()" class="float-right margin-bottom" small>Check Answer</button>
          <div class="clear"></div>
        </div>
        <div class="guessed-section">
          <span *ngIf="guessedChapters.length===0" class="small-hint">None Yet</span>
          <span *ngFor="let num of guessedChapters; let i = index">{{num}}<span *ngIf="i+1<guessedChapters.length">,</span>&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!--<ion-buttons left>
      <button ion-button icon-left color="primary">
          <ion-icon name="information-circle"></ion-icon>
          Hint
        </button>
    </ion-buttons>
    <span class="margin-left-xsmall">Used: <ion-badge color="gray">0</ion-badge></span>-->
    <ion-buttons right>
      <button ion-button icon-left color="primary" (click)="toggleVerse()">
          <ion-icon name="help-circle" *ngIf="showVerse"></ion-icon>
          <ion-icon name="arrow-back" *ngIf="!showVerse"></ion-icon>
          <span *ngIf="showVerse">Guess</span>
          <span *ngIf="!showVerse">Verse</span>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
