<main class="h-screen overflow-hidden flex flex-col">
  <div class="navbar bg-base-200 drop-shadow flex-none">
    <div class="flex-1 flex-row items-center"></div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a [routerLink]="'/'">Home</a></li>
      </ul>
    </div>
  </div>
  <div
    class="flex flex-col items-start p-4 flex-auto overflow-auto prose prose-sm"
  >
    <h2 class="mb-1">Scripture Golf</h2>
    @if (version !== null) {
      <p class="mb-2">{{ version() }}</p>
    }
    <p class="italic my-2">Copyright &copy; {{ year }} - John Woodruff</p>
    <p class="my-2">
      Scripture Golf is a traditional LDS Sunday School trivia game, designed to
      test your knowledge of scripture in a fun and interactive way.
    </p>
    <h3 class="my-2">Feedback and Support</h3>
    <p class="my-2">
      While every effort has been made to make this app bug-free, if you
      encounter any bugs or have any suggestions for future versions, please
      email
      <a href="mailto:woodruffapps@gmail.com">woodruffapps&#64;gmail.com</a> and
      I will do my best to implement your ideas! This app will continue to be
      supported through adding more scriptures, making changes to the app to
      improve performance, and adding new features.
    </p>
    @if (showRatingButton()) {
      <button class="btn btn-primary btn-wide my-4">
        <lucide-icon [img]="icons.Star"></lucide-icon>
        Write a Review
      </button>
    }
    <h3 class="my-2">Resources</h3>
    <a class="my-1" href="https://scripturegolf.com/" target="_blank">
      Website
    </a>
    <a
      class="my-1"
      href="mailto:woodruffapps@gmail.com?subject=Support%20Needed"
      target="_blank"
    >
      Support
    </a>
    <a
      class="my-1"
      href="https://scripturegolf.com/privacy-policy"
      target="_blank"
    >
      Privacy Policy
    </a>
  </div>
</main>
