<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Scripture Golf</h3>
  <p>{{version}}</p>
  <p><em>Copyright &copy; {{year}} John Woodruff</em></p>
  <p>
    Scripture Golf is a classic LDS Sunday School game. It is a game of
    scripture trivia.
  </p>
  <p>
    While every effort has been made to make this app bug-free, if you encounter
    any bugs or have any suggestions for future versions, please email
    <a href="mailto:woodruffapps@gmail.com">woodruffapps@gmail.com</a> and I
    will do my best to implement your ideas! This app will continue to be
    supported through adding more scriptures, making changes to the app to
    improve performance, and adding new features.
  </p>
  <ion-button size="block" (click)="rate()">
    <ion-icon slot="start" name="star"></ion-icon>
    Write a Review
  </ion-button>
  <h6>Other Links</h6>
  <a class="external-link" href="https://scripturegolf.com/" target="_blank">
    Website
  </a>
  <a
    class="external-link"
    href="mailto:woodruffapps@gmail.com?subject=Support%20Needed"
    target="_blank"
  >
    Support
  </a>
  <a
    class="external-link"
    href="https://scripturegolf.com/privacy-policy"
    target="_blank"
  >
    Privacy Policy
  </a>
</ion-content>
