<main class="h-screen overflow-hidden flex flex-col">
  <div class="navbar bg-base-100 drop-shadow flex-none">
    <div class="flex-1 flex-row items-center">
      <a class="btn btn-ghost text-xl">Player 1</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a [routerLink]="'/'">Quit</a></li>
      </ul>
    </div>
  </div>

  <div class="flex flex-col items-start p-4 flex-auto overflow-auto">
    <!-- <div class="stats shadow flex-none">
    </div> -->
    <!-- <div class="stat">
      <div class="stat-title">Points</div>
      <div class="stat-value text-primary">26</div>
    </div> -->

    @if (store.roundState() === 'verse') {
      <p class="prose overflow-auto flex-auto">
        Thou shalt have no other gods before me. Thou shalt not make unto thee
        any graven image, or any likeness of any thing that is in heaven above,
        or that is in the earth beneath, or that is in the water under the
        earth: Thou shalt not take the name of the LORD thy God in vain; for the
        LORD will not hold him guiltless that taketh his name in vain. Remember
        the sabbath day, to keep it holy. Honour thy father and thy mother: that
        thy days may be long upon the land which the LORD thy God giveth thee.
        Thou shalt not kill. Thou shalt not commit adultery. Thou shalt not
        steal. Thou shalt not bear false witness against thy neighbour. Thou
        shalt not covet. Thou shalt have no other gods before me. Thou shalt not
        make unto thee any graven image, or any likeness of any thing that is in
        heaven above, or that is in the earth beneath, or that is in the water
        under the earth: Thou shalt not take the name of the LORD thy God in
        vain; for the LORD will not hold him guiltless that taketh his name in
        vain. Remember the sabbath day, to keep it holy. Honour thy father and
        thy mother: that thy days may be long upon the land which the LORD thy
        God giveth thee. Thou shalt not kill. Thou shalt not commit adultery.
        Thou shalt not steal. Thou shalt not bear false witness against thy
        neighbour. Thou shalt not covet.
      </p>
    } @else {
      GUESS STATE
    }
  </div>

  <div class="navbar bg-base-100 drop-shadow justify-end flex-none">
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a (click)="toggleRoundState()">
            @if (store.roundState() === 'verse') {
              Guess
            } @else {
              Verse
            }
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
