<div>
  <div class="input-wrapper">
    <input
      type="text"
      pattern="\d*"
      class="chapter-input"
      placeholder="Guess the chapter"
      [(ngModel)]="chapter"
    />
  </div>
  <div class="heading">
    <p>Chapters Guessed</p>
    <ion-button size="small" (click)="check()" [disabled]="!chapter"
      >Check Answer</ion-button
    >
  </div>
  <div class="chapters-guessed">
    <p class="text-secondary" *ngIf="guessed.length === 0">None yet</p>
    <p class="guessed-list" *ngIf="guessed.length > 0">
      {{ guessed.join(', ') }}
    </p>
  </div>
</div>
