<div class="guess">
  <ion-list>
    <ion-item *ngIf="bom.length">
      <ion-label>Book of Mormon</ion-label>
      <ion-select
        placeholder="Select One"
        (ionChange)="select('BOM')"
        [(ngModel)]="bomSelection"
      >
        <ion-select-option *ngFor="let book of bom" [value]="book.title">
          {{ book.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="dc.length">
      <ion-label>Doctrine & Covenants</ion-label>
      <ion-select
        placeholder="Select One"
        (ionChange)="select('DC')"
        [(ngModel)]="dcSelection"
      >
        <ion-select-option *ngFor="let book of dc" [value]="book.title">
          {{ book.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="pgp.length">
      <ion-label>Pearl of Great Price</ion-label>
      <ion-select
        placeholder="Select One"
        (ionChange)="select('PGP')"
        [(ngModel)]="pgpSelection"
      >
        <ion-select-option *ngFor="let book of pgp" [value]="book.title">
          {{ book.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="ot.length">
      <ion-label>Old Testament</ion-label>
      <ion-select
        placeholder="Select One"
        (ionChange)="select('OT')"
        [(ngModel)]="otSelection"
      >
        <ion-select-option *ngFor="let book of ot" [value]="book.title">
          {{ book.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="nt.length">
      <ion-label>New Testament</ion-label>
      <ion-select
        placeholder="Select One"
        (ionChange)="select('NT')"
        [(ngModel)]="ntSelection"
      >
        <ion-select-option *ngFor="let book of nt" [value]="book.title">
          {{ book.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="action-button">
    <ion-button
      (click)="checkAnswer()"
      [disabled]="
        !bomSelection &&
        !dcSelection &&
        !pgpSelection &&
        !otSelection &&
        !ntSelection
      "
    >
      Check Answer
    </ion-button>
  </div>
</div>
