// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Windows Phone Specific Styles
.wp {
  .sub-text {
    font-size: 14px;
  }
}
h1 {
  font-weight: 400;
}

h3,
h4 {
  font-weight: 300;
}

a {
  text-decoration: none;
}

scroll-content {
  overflow-y: auto;
}

.display-flex {
  display: flex;
}

.flex-fill {
  flex: 1;
  box-sizing: border-box;
}

.flex-none {
  flex: 0 0 auto;
  box-sizing: border-box;
}

.margin-none {
  margin: 0 !important;
}

.margin-top-small {
  margin-top: 15px;
}

.margin-bottom-small {
  margin-bottom: 15px;
}

.margin-left-xsmall {
  margin-left: 5px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.small-hint {
  font-size: 12px;
  color: #999999;
}

.profile-photo {
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px solid white;
  box-shadow: black 0px 0px 1px;
}

.profile-name {
  display: inline;
  margin-left: 5px;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-align-center {
  text-align: center;
}
