<main class="flex flex-col items-center p-10">
  <div class="container flex flex-row justify-end">
    <sg-theme-picker></sg-theme-picker>
  </div>
  <sg-logo class="mt-5"></sg-logo>
  <h1 class="text-2xl mt-6">Scripture Golf</h1>
  <div class="container grid grid-rows-3 gap-5 justify-items-center mt-10">
    <button class="btn btn-primary btn-block">Single Player</button>
    <button class="btn btn-outline btn-primary btn-wide">Multiplayer</button>
    <button class="btn btn-ghost">About</button>
  </div>
</main>
