<main class="flex flex-col items-center p-10 h-full bg-base-200">
  <div class="container flex flex-row justify-end">
    <sg-theme-picker></sg-theme-picker>
  </div>
  <sg-logo class="mt-5"></sg-logo>
  <h1 class="text-3xl mt-6 font-bold">Scripture Golf</h1>
  <div class="container grid grid-rows-3 gap-5 justify-items-center mt-10">
    <button
      class="btn btn-primary btn-block"
      [routerLink]="'/settings'"
      [queryParams]="{ multiplayer: false }"
    >
      Single Player
    </button>
    <button
      class="btn btn-outline btn-wide"
      [routerLink]="'/settings'"
      [queryParams]="{ multiplayer: true }"
    >
      Multiplayer
    </button>
    <button class="btn btn-ghost" [routerLink]="'/about'">About</button>
  </div>
</main>
