.home-page {
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    ion-button {
      width: 100%;

      &.thinner {
        width: 90%;
      }
    }
  }

  ion-icon {
    color: var(--ion-color-primary);
    font-size: 160px;
  }

  @media (prefers-color-scheme: dark) {
    ion-icon {
      color: #ffffff;
    }
  }
}
