<ion-content
  class="home-page ion-padding ion-align-items-center"
  forceOverscroll="false"
  scrollY="false"
>
  <div class="heading ion-margin-vertical">
    <ion-icon
      src="assets/moroni.svg"
      class="logo ion-align-self-center"
    ></ion-icon>
    <h1>Scripture Golf</h1>
  </div>
  <div class="action-buttons">
    <ion-button
      class="ion-margin-bottom"
      expand="block"
      size="large"
      color="primary"
      (click)="play(false)"
      >Single Player</ion-button
    >
    <ion-button
      class="thinner ion-margin-bottom"
      expand="block"
      fill="outline"
      color="primary"
      (click)="play(true)"
      >Multiplayer</ion-button
    >
    <ion-button class="thinner" fill="clear" color="primary" (click)="about()"
      >About</ion-button
    >
  </div>
</ion-content>
